<config xmlns="http://xquerrail.com/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xquerrail.com/domain file:../_framework/schemas/config.xsd">
  <!--Configurations-->
  <!--Routing Module and Configuration-->
  <routes-config resource="routes.xml"/>
  <routes-module resource="routing.xqy"/>
  <cache-location value="server-field"/>
  <!--Interceptor Configuration-->
  <!--    <interceptor-config resource="interceptor.xml"/>-->
  <!--  TODO: Could not find any reference of interceptor-module in xquerrail2.framework  -->
  <!--    <interceptor-module resource="interceptor.xqy"/>-->
  <!--  TODO: Could not find any reference of plugin-config in xquerrail2.framework  -->
  <!--    <plugin-config resource="/main/_config/plugin.xml"/>-->
  <!--<error-handler resource="/main/xquerrail2/_framework/error.xqy"/>-->
  <!--Suffix Configuration-->
  <!--    <controller-suffix value="-controller"/>-->
  <!--    <model-suffix value="-model"/>-->
  <!--  TODO: Could not find any reference of library-suffix in xquerrail2.framework  -->
  <!--    <library-suffix value="-lib"/>-->
  <controller-extension resource="/test/mocha/test/common-app-test/app/extensions/controller.extension-1.xqy"/>
  <controller-extension resource="/test/mocha/test/common-app-test/app/extensions/controller.extension-2.xqy"/>
  <anonymous-user value="xquerrail2-anonymous-user"/>
  <xquerrail-role value="xquerrail-xquerrail2-framework"/>
  <!--    <dispatcher resource="/main/xquerrail2/_framework/dispatchers/dispatcher.web.xqy"/>-->
  <!--    <controller resource="base/base-controller.xqy"/>-->
  <!--<controller-extension  resource="/_extensions/controller.extension.xqy"/>-->
  <!--Register Default Values for engine-->
  <!--    <default-engine value="engine.html"/>-->
  <default-application value="app-test"/>
  <!--    <default-controller value="default"/>-->
  <!--    <default-action value="index"/>-->
  <!--    <default-format value="html"/>-->
  <!--    <default-template value="main"/>-->
  <!--  TODO: Could not find any reference of default-template-directory in xquerrail2.framework  -->
  <!--    <default-template-directory resource="/application/templates/"/>-->
  <!--  TODO: Could not find any reference of default-view-directory in xquerrail2.framework  -->
  <!--    <default-view-directory resources="/application/views/"/>-->
  <!--Register Your Application(s) Here-->
  <application name="app-test" namespace="http://xquerrail.com/app-test" uri="/test/mocha/test/common-app-test/app">
    <domain resource="domains/application-domain.xml"/>
    <script-directory resource="resources/js/"/>
    <stylesheet-directory resource="resources/css/"/>
    <default-template value="main"/>
  </application>
  <application name="app-test-2" namespace="http://xquerrail.com/app-test-2" uri="/test/mocha/test/common-app-test/app2">
    <domain resource="domains/application-domain.xml"/>
  </application>
  <!--
    <application name="application" namespace="http://my-application-namespace" uri="/application"><domain resource="/application/domains/application-domain.xml" /><script-directory value="/application/resources/js"/><stylesheet-directory value="/application/resources/css"/></application>-->
  <!--Interceptors-->
  <!-- TODO: Not sure if @config location si currently used maybe duplicated with interceptor-moculde/@resource -->
  <!--    <interceptors config="/main/_config/interceptor.xml">-->
  <interceptors>
    <interceptor after-request="true" after-response="false" before-request="false" before-response="false" name="ml-security" resource="ml-security.xml"/>
    <interceptor after-request="false" after-response="false" before-request="false" before-response="true" name="custom-view"/>
    <interceptor after-request="true" after-response="false" before-request="false" before-response="true" name="custom-interceptor-2" resource="custom-interceptor-2.xml" uri="/test/mocha/test/common-app-test/app/extensions/custom-interceptor-2.xqy"/>
  </interceptors>
  <properties>
    <!-- If ignore-missing-resource is true the engine will not throw an error for missing resource - default is true -->
    <property name="ignore-missing-resource" value="true"/>
    <property name="resource-path" resource="js"/>
    <property name="css-path" resource="css"/>
    <property name="js-path" resource="js"/>
  </properties>
</config>
