<routes xmlns="http://xquerrail.com/routing"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xquerrail.com/routing file:../_framework/schemas/routing.xsd">
  <!--Define Resources Before Controllers-->
  <route id="_favicon" pattern="/favicon.ico" is-resource="true">
    <prepend>/main/resources/</prepend>
  </route>

  <route id="_resources" pattern="^/resources/*" is-resource="true">
    <prepend>/main</prepend>
  </route>

  <route id="application_resources" pattern="/(\i\c*)/resources/*" is-resource="true">

  </route>

  <route id="initialize" pattern="^/initialize(.xqy)?$" is-resource="true">
    <to>/main/_framework/initialize.xqy</to>
  </route>

  <!-- Only required to run xray tests -->
  <route id="xray_index" pattern="^/xray/?$" is-resource="true">
    <to>/xray/index.xqy</to>
  </route>
  <route id="xray" pattern="^/xray/.*" is-resource="true">
    <prepend>/xray/</prepend>
  </route>

  <route id="app-test_index" pattern="^/$">
    <default key="_controller">app-test:default:index:html</default>
  </route>

  <route id="app-test_login" pattern="^/login(.html)?">
    <!-- <default key="_controller">app-test:base:login.html</default> -->
    <default key="_controller">app-test:base:login</default>
  </route>
  <route id="app-test_logout" pattern="^/logout(.html)?">
    <default key="_controller">app-test:base:logout:html</default>
  </route>
  <route id="app-test_default_index" pattern="^/(\i\c*[^/])/?$">
    <default key="_controller">app-test:$1:index:html</default>
  </route>
  <route id="app-test_controller_action_format" pattern="^/(\i\c*[^/])/(\i\c*)\.(html|xml|json)$">
    <default key="_controller">app-test:$1:$2:$3</default>
  </route>

</routes>
