<config xmlns="http://xquerrail.com/config" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xquerrail.com/domain file:..schemas/config.xsd"
    >
    <!--Configurations-->
  
    <routes-config resource="test-routes.xml"/>

    <anonymous-user value="xquerrail2-framework-user"/> 
    
    <default-application value="test-app"/>
    
    <!--Register Your Application(s) Here-->
    <application name="test-app" namespace="http://xquerrail.com/test-app" uri="/test/_framework/test-config/test-app">
      <domain resource="domains/application-domain.xml" />
      <script-directory value="resources/js/"/>
      <stylesheet-directory value="resources/css/"/>
      <default-template value="main"/>
    </application>

    <!--Interceptors-->
    <interceptors>
       <interceptor 
            name="ml-security" 
            resource="ml-security.xml"
            before-request="false" 
            after-request="true" 
            before-response="false" 
            after-response="false"
        />
    </interceptors>
    <properties>
        <property name="resource-path" resource="js"/>
        <property name="css-path" resource="css"/>
        <property name="js-path"  resource="js"/>
    </properties>    
</config>